body{
    padding:0;
    margin: 0;
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    overflow: hidden;
    
}
.map{
    width:100vw;
    height: 100vh;

    position:absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    contain: content;
}
.Image-container{
    width: 100vw;
    height: 100vh;
    
}
.viewPort{
    height:100vh;
    width: 100vw;
    margin:auto;
}
#root{
    height: 100%;
}
.rel{
    position: relative;
    height:100vh;
    width: 100vw;
}