h1{
  text-align:center;
  outline-style:groove;
  color: white;
  background-color: black;
  border-color:black;
}

.container-fluid{
  padding-top: 150px;
}


ul {
    list-style-type: none;
    width: 100%;
    background-color: black;
    align-items: center;
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px 0px;
    text-decoration: none;
    text-align: center;
  }
  
/* .buttons div button{
  margin-bottom:10px;
} */

 .buttons div button{  
  width:100%;
}

li a:hover {
  background-color: white;
  color: black;
  border-style:solid;
}

a:hover{
  border:solid black;
}

