ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    align-items: center;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }
  

  li a:hover {
    background-color: #555;
    color: white;
  }

 button{
     text-align: center;
 }